 
.flex-container{
display: block;
align-items: center;
justify-content: center;
}
.flex-item{
display: block;
text-align: center;
justify-content: center;
margin-left: auto;
margin-right: auto;}
  li{
  background-color: transparent;}
  li:hover{
  background-color: transparent;}
  #top_border {
  list-style-type: none;
  margin: 0;
  padding : 0;
  position: fixed;
  background-color: #3d3d3d;
  border-radius: 0px;
  width: 100%;
  height: 50px;
  z-index: +1;
  }
  
  #header-logo{
  vertical-align: middle;
  margin: 0 40px;}
 
  
  .navbar-btn{
 	  margin-top: 13px;
 	  border-style: solid;
 	  margin-left: 10px;
 	  background-color: transparent;}
 	  
 .dropdown{
 margin-top: 5px;
 margin-left: 12px;}
  
  }
 #mid_border{
 list-style-type:none;
 margin-top: 50px;
 padding: 0;
 overflow: hidden;
 position: fixed;
 background-color: #c1d72e;
 border-radius: 0px;
 width: 100%;
 height: 5px;
 box-shadow: 0px 3px 2px 0px #3b3b3b;
 }
 
 #img_logo{
  margin-left: -20px;
  margin-right: auto;
  margin-top: 3px;}
  
#dropdown-margin{
margin-top: 9px;}
  
.bannerbar{
    z-index: +1;
    overflow: hidden;
    display: block
    position: absolute;
    width: 100%;
    border-top-style: solid;
    border-top-color: #c0d701;
    border-radius: 0px;
    padding-top: 20px;
    padding-bottom: 30px;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: -20px;
    background: #c0d701;
    max-width:100%;
    box-shadow: 10px 5px 5px #3d3d3d;
}

 
 body{
 padding-top: 70px;
 background-color: #3d3d3d;
 }
 

 
 .introslides{
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 10px;
     margin-bottom: 20px;
     z-index: -1;
 }
 
 h1{
 font-family: Roboto;
 font-weight: bold;
 color: white;}
 
 .bodytext{
     color: white;
     font-family: Roboto;
     font-size: 25px;
 }
 
 #productcertbutton{
     display: block;
     font-family: Roboto;
     font-weight: bold;
     font-size: 20px;
     margin-left: 42.5%;
     margin-bottom: 20px;
     margin-top: 30px;
     background-color:rgba(0,0,0,0.0);
     color: white;
     border-style: solid;
     border-color: white;
     border-radius: 10px;
 }
 
 #productcertbutton:hover{
     background-color: #c1d72e;
     color: white;
 }
 #mentorcertbutton{
     display: block;
     float: right;
     font-family: Roboto;
     font-weight: bold;
     font-size: 20px;
     margin-right: 20%;
     margin-bottom: 20px;
     background-color:rgba(0,0,0,0.0);
     color: white;
     border-style: solid;
     border-color: white;
     border-radius: 10px;
 }
 
 #mentorcertbutton:hover{
     background-color: #009ec5;
     color: white;
 }
 
 footer{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  background-color: #3d3d3d;
  border-radius: 0px;
  width: 100%;
  height: 515px;}
  
 #certified_image{
 display: block;
 margin-left: auto;
 margin-right: auto;
 margin-top: -170px;
 margin-bottom: -160px;
 height: 850px;
 width:  650px;}
 
 
 #footer-leaf{
 display: block;
 position: absolute;
 height: 100%;
 width: 400px;
 float: left;
 margin-left: -100px;}
 
 .social_button{
 display: block;
 margin-left:  auto;
 margin-right: auto;}
 
 .footer_text{
 display: block;
 margin-left: auto;
 margin-right: auto;
 margin-top: 5%;
 font-family: Roboto-light;
 color: white;}
 
 #footer-logo{
 display: block;
 margin: auto;
 }
 #copyright-text{
 font-size: 10px;
 margin-left: -10px;}

 
.disclaimer-button{
display: block;
position: relative;
background-color: #3d3d3d;
color: white;
padding: 10px 24px;
border-style: solid;
border-color: white;
border-radius: 12px;
margin: auto;
margin-bottom: 30px;
}

.disclaimer-button:hover{
background-color:#c1d72e;
color: white; }

.social-buttons{
position: relative;
background-color: #3d3d3d;
border-style: solid;
border-radius: 20px;
color: #d9d9d9;
height: 40px;
width: 40px;
margin: 5px;}

.social-buttons:hover{
background-color: #c1d72e;
color: white;}

#facebook-button{
margin-bottom: 20px;
margin-top: -20px;}

#center-buttons{
display: block;
text-align: center;
margin: auto;}

#login-buttons{
float: right;
margin-right: 80px;}

.modal-header{
background-color:#3d3d3d;
border-bottom-color: #3d3d3d;
}

.modal-body{
background-color: #3d3d3d;
border-color: #3d3d3d;
padding-bottom: 1px;
}
.modal-title{
font-family: Roboto;
color: white;
text-align: center;}

.modal-text{
font-family: Roboto;
color: white;
text-align: left;
}
.modal-footer{
background-color:#3d3d3d;
border-top-color: #3d3d3d;
margin-top: 1px;
}
.modal-content{
position: relative;
background-color: #3d3d3d;
z-index: +2;
}
.modal-dialog{
background-color: #3d3d3d;
}
.btn{
color: white;}

.btn:hover{
background-color: #c0d701;
color: white;}

#navbar-buttons{
border-style: none;}

.navbar-login{
background-color: #3d3d3d;
border-bottom-color: #c0d701;
border-bottom-width: thick;
border-bottom-style: solid;
box-shadow: 0px 10px 10px -10px #cacaca;}

.no-shadow{
box-shadow: 0px 0px 0px 0;}

.account-buttons{
border-style: solid;
border-color: #c0d701;
background-color: transparent;
color: #c0d701;
font-family: Roboto;
font-weight: bold;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 0px;}

#inner-ul{
text-align: left;
margin-left: 20px;}

#inner-ul2{
text-align: left;
margin-left: 110px;}


#inner-navbar{
z-index: 2;
background-color: white;
margin-top: 50px;
box-shadow: 0px 10px 10px #444444;}

.inner-buttons{
background-color: white;
overflow: hidden;
color: #333333;
font-family: Roboto;
font-weight: 300;
font-size: large;}

.inner-buttons:hover{
color: #c0d701 !important;
background-color: white !important;}

.inner-buttons-left{
overflow: hidden;
margin-right: 45px;}

.inner-buttons-right{
overflow: hidden;
margin-left: 40px;}


.inner-logo{
position:fixed;
z-index: 2;
display: inline-block;
float: none;
height: 85px;
width: 120px;
margin-top: 0px;
margin-left: 0px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
box-shadow: 0px 20px 10px -10px #444444;
}

.nodisplay{
display: none;}

.target{
background-color: white;}

.hidden-nav{
display: none;}

#hidden-line{
margin-top: 0px;
margin-bottom: 0px;
height: 0px;
width: 100%;
border-style: solid;
border-color: #c0d701;}

.navbar .navbar-nav{
display: inline-block;
float: none;
vertical-align: middle;}

.form-control:focus{
border-color: #c0d701;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(100, 175, 0, .6);}

#slider{
z-index: 0;
padding: 0;
overflow: hidden;
border-style: none;
box-shadow: none;
margin-top: 30px;
margin-bottom: 0px;}

.opportunity-header{
display: block; 
margin-bottom: -20px; 
margin-left: auto; 
margin-right: auto; 
width: 4000px; 
max-width: 100%;}

.opportunity-banner{
margin-top: -5px;
z-index: 1;
text-align: center;
background-color: #c0d701;
padding-bottom: 20px;
padding-top: 0;
transition: linear margin-top 0.3s;}


#opportunity-banner1{
background-color: #c0d701;
text-align: center;
padding-bottom: 30px;}

.earn-buttons{
display: inline-block;
font-family: Roboto;
font-weight: 300;
font-size: 20px;
margin-top: 30px;
margin-left: auto;
margin-right: 30px;
color: white;
background-color: transparent;
border-style: none;}

.earn-buttons:focus{
outline: none;}

.earn-buttons:hover{
font-weight: bold;}

.column-banner{
z-index: 0;
margin-top: 0px;
background-color: white;
padding-bottom: 50px;}

.opportunity-text-headings{
font-family: Roboto;
font-weight: bold;
color: #c0d701;}

.opportunity-container{
width: auto;
margin-left: 50px;
margin-top: 40px;}

.opportunity-text{
position: relative;
z-index: 1;
font-family: Roboto;
text-align: justify;
font-size: medium;
font-weight: 300;
color: black;}

.opportunity-family{
display: block;
position: relative;
height: 832px;
width: 600px;
float: right;
margin-top: 30px;
margin-right: -30px;
margin-left: auto;
border-radius: 30px;
border-style: solid;
border-color: white;}

.opportunity-earn{
width: 200px;
height: 75px;
display: block;
margin-top: 50px;
margin-left: auto;
margin-right: auto;}

.earn-header{
margin-top: 50px;
margin-bottom: 50px;
display: block;
margin-left: auto;
margin-right: auto;}

.earn-box{
margin-top: 60px;
display: block;
margin-left: 40px;
margin-right: 30px;
border-style: solid;
border-color: #c0d701;
border-radius: 10px;}

.earn-numbers{
text-align: left;
margin-right: 85%;
border-bottom-right-radius:30px;
font-family: Roboto;
font-size: 50px;
font-weight: bold;
padding-left: 0px;
background-position: left;
background-size: contain;
background-color: #c0d701;
color: white;}

.earn-numbers-circle{
margin-left: -40px;
margin-top: -30px;
position: absolute;
height: 75px;
width: 75px;}

.earn-text-headings{
margin-top: -5px;
margin-left: 40px;
font-family: Roboto;
font-weight: 300;
color: #c0d701;}

.earn-text{
margin-left: 50px;
margin-right: 50px;
margin-bottom: 30px;}

.earn-text-list{
margin-bottom: 10px;}

.twowaystojoin{
display:none;}

.sevenwaystoearn{
display: none;}


.earn-pill{
border-style: none;
margin-top: -10px;
margin-left: 70%;
padding-top: 0px;
padding-bottom: 0px;
color: white;
padding-left: 20px;
padding-right: 20px;
font-size: 16px;
position: absolute;
background-color: #c0d701;
border-radius: 7px;}

.earn-pill:hover{
font-weight: bold;}

.specialist-list{
margin-bottom: 0;
margin-left: 0;}

.successkit{
margin-right: 50px;
float: right;
height: 300px;
width: 450px;}

.rewards-header{
font-family: Roboto;
font-size: 50px;
font-weight: 300;
color: #c0d701;
display: block;
position: relative;
margin-top: 50px;
text-align: center;}

.rewards-text{
text-align: center;}

.rewards-footer{
width: 3000px;
margin-top: -300px;
margin-bottom: -50px;
max-width: 100%;}

#kit-heading{}

.img-thumbnail{
display: block;
margin-left: auto;
margin-right: auto;}

.earn-buttons-container{
display: block;
text-align: center;}

.sticky {
  margin-top: 30px;
  position: fixed;
  margin-bottom: px;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  border-top: 0;
}

#smartplanmodal1{
width: 650px;
height: 200px;}

.mindbodycircles{
margin-top: 70px;
max-width: 100%;
height: 170px;}

.feature-icons{
height: 120px;
max-width: 100%;
margin-top: 20px;
margin-bottom: 20px;}

.philosophy-footer{
margin-top: 0px;
margin-right: -5px;
margin-bottom: -55px;
max-width: 100.345%;}

.our-philosophy{
margin-top: -40px;}

.our-passion{
display: none;}

.passion-footer{
margin-top: -150px;
margin-right: -5px;
margin-bottom: -55px;
max-width: 100%;}

.our-team{
display: none;}

.our-guarantee{
display:none;}

.bio-photos{
max-width: 100%;
width: 3000px;
margin-top: 40px;
}

#last-bio{
margin-bottom: -60px;}

.sollecertain-heading{
font-family: Roboto;
font-weight: bold;
text-align: center;}

.sollecertain-bar{
background-color: #c1d72e;
max-width: 100%;
border-radius: 10px;
margin-top: 20px;}

.sollecertain-number{
letter-spacing: -0.15em;
float: left;
font-family: Roboto;
font-weight: 400;
font-size: 60px;
margin-top: 10px;}

.sollecertain-text{
margin-left: 50px;
margin-top: 20px;
text-align: justify;
vertical-align: middle;}

.sollecertain-footer{
margin-top: 40px;
font-family: Roboto;
text-align: center;
font-weight: 300;}

.guarantee-footer{
margin-top: -120px;
margin-right: -5px;
margin-bottom: -55px;
max-width: 100%;}

#contact-modal{
margin-top: 60px;}

#contact-header{
background-color: #c0d701;
border-style: solid;
border-color: #c0d701;
border-width: 2px;}

#contact-modal-cancel:hover{
background-color: #ae3131}

.successsummit{
display: none;}

#create-account-pill{
margin-left: 60%;}

.calendar{
display: none;}

.calendar-line{
margin-top: -10px;
border-style: solid;
width: 95%;
border-color: #c0d701;
border-width: 1.9px;}

.calendar-box{
float: left;
background-color: #c0d701;
border-radius: 10px;
width: 55px;
text-align: center;
height: 55px;
}

.calendar-number{
margin-left: 2px;
margin-top: 7px;
color: white;
font-weight: bold;
font-size: 40px;
margin-bottom: 10px;
font-family: Roboto;
}

.calendar-text{
font-family: Roboto;
display: inline-block;
font-weight: bold;
margin-left: 20px;
margin-top: 15px;}

#calendar-headings{
margin-top: 80px;
margin-left: 30px;}

#calendar-link{
font-weight: normal;}

.calendar-button{
margin-top: 40px;
border-color: #c0d701;
display: block;
margin-left: auto;
margin-right: auto;
font-family: Roboto;
font-weight: bold;
background-color: transparent;
color: #c0d701;}

.resource-box{
padding-right: 10px;
padding-left: 10px;
padding-top: 10px;
padding-bottom: 5px;
margin-top: 30px;
display: block;
margin-left: 0px;
margin-right: 0px;
border-style: solid;
border-width: thin;
border-radius: 2px;
border-color: #3d3d3d;}

.resource-img{
box-shadow: 0px 0px 5px 0px #3b3b3b;}

.resource-text{
font-size: 16px;
font-family: Roboto;
font-weight: 400;
margin-top: 10px;
text-align: center;}

.resource-button{
width: 80%;
border-radius: 10px;}

h3{
font-family: Roboto;}

.resource-a:hover{
text-decoration: none;}

.sort-button{
margin-left: 30px;
font-weight: 300;
margin-top: 15px;
font-family: Roboto;
font-size: 25px;
background-color: transparent;
border-style: none;}

.sort-button:hover{
color: #c0d701;}

#first-sort-button{
margin-top: 30px;}

.videos{
display: none;}

.filter-button:hover{
color: #c0d701;}

body.modal-open { overflow:inherit; padding-right:inherit !important; }

.cart-number{
text-align: center; 
color: #c0d701; 
font-family: Roboto; 
position: absolute; 
margin-left: -70px; 
margin-top: -37px; 
font-weight: bold;}

#replicated-banner{
padding-top: 20px;
margin-left: -30px;
margin-right: -30px;
}

.replicatedtext{
font-family: Roboto;
color: black;
text-align: center;
margin-top: 12px;}

.user-img:hover{
opacity: 0.5;}

span.upload-text {
  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 247px;
  margin-left: -21px;
  position: absolute;
  top: 0;
  width: 92.5%;
  margin-top: 42px;
  opacity: 0;
}

span.upload-text:hover {
  opacity: 1;
}

.profile-img-btn{
border-style: none;
background-color: #c1d72e;
color: white;}

.profile-img-btn:hover{
color: black;}





/* Mobile media queries below this line */

@media (max-width: 1210px){
#footer-leaf{
width: 300px;}
.earn-pill{
margin-left: 55%;}
}
@media (max-width: 1075px){
#create-account-pill{
margin-left: 55%;}
.earn-pill{
margin-left: 55%;}
.inner-logo{
width: 100px;
height: 70px;
margin-left: -55px;}
.navbar-login{
margin-top: 0px;
position: fixed;}
.bodytext{
font-size: 15px;}
#inner-ul2{
margin-left: 0px;}
#inner-ul{
margin-left: 0px;}
.inner-buttons{
font-size: medium;}}
@media (max-width: 1002px){
#create-account-pill{
margin-left: 40%;}
.guarantee-footer{
margin-top: 0;}
.passion-footer{
margin-top: 0;}
.mindbodycircles{
display: none;}
.feature-icons{
height: 50px;}
.earn-box{
margin-left: auto;
margin-right: auto;}
#kit-heading{
margin-left: 10px;
margin-top: -10px;
margin-bottom: 10px;}
.rewards-footer{
margin-top: 0;}
.rewards-header{
font-size: 30px;}
.earn-text{
margin-left: 10px;
margin-right: 10px;}
.successkit{
display: none;}
.specialist-list{
margin-left: 0;}
.earn-pill{
display: block;
margin-left: auto;
margin-right: auto;}
.inner-logo{
width: 90px;
height: 65px;}
.opportunity-family{
z-index: 0;
width: 500px;
height: 694px;}
.opportunity-container{
margin-left: auto;}
.opportunity-earn{
margin-right: auto;
margin-left: auto;}
.account-buttons{
border-style: none;
font-size: large;
font-weight: 400;}
#hidden-line{
display: block;}
.hidden-nav{
display: inline-block;}
#footer-leaf{
display: none;}
#inner-navbar{
margin-top: 55px;}
#slider{
margin-top: 30px;}}
@media (max-width: 767px){
.earn-buttons{
display: block;
margin-right: auto;
margin-left: auto;
font-size: 12px;
}
.opportunity-family{
display: none;}
.opportunity-earn{
display: none;}}
@media (max-width: 440px){
.calendar-text{
margin-left: 5px;}
#create-account-pill{
margin-left: 17%;}
.earn-header{
width: 200px;
height: 75px;}}

/* Changing the Bootstrap navbar breakpoint */

@media (max-width: 1002px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
